table {
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  td, th {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
  }
  
  tr.selected {
    background-color: lightblue;
  }
  
  button {
    margin-top: 10px;
  }